body {
  text-align: center;
  background-color: #2A3245;
}
h1{
  font-family: sans-serif;
  color: azure;
  text-transform: uppercase;
  font-size: 50px;
}
.info{
  color:bisque;
  font-size: 30px;
}
#score{
  color: azure;
  filter: drop-shadow(0 0 10px aqua);
  background-color: black;
  display: inline;
  padding:.7em;
  border-radius: 10%;
  
  
}
#game-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin-left:auto;
  margin-right: auto;
  border: 2px solid black;
  overflow: hidden;
  background-color: #2C6430;
  margin-top: 50px;
}

#target {
  position: absolute;
  width: 60px;
  height: 60px;
  
  filter: drop-shadow(0 0 20px black);
  cursor: pointer;
  border-radius: 50%;
}

#score {
  font-size: 18px;
}
